<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./temp.css">
    <title>comment</title>
</head>
<body>
    <form action="#">
        <div class="root">
        <h2>Leave a Reply</h2>
        <p>Your email address will not be published. Required fields are marked *</p>
        <h3>Comment *</h3>
        <textarea name="comment" id="comment" class="textarea" placeholder="enter a comment" required></textarea>
        <br>
        <label for="name">Name *</label>
        <br>
        <input type="text" id="name" name="name" class="input" placeholder="Enter your name" required>
        <br>
        <label for="email">Email *</label>
        <br>
        <input type="email" id="email" name="email" class="input" placeholder="Enter your email" required>
        <button type="submit" class="btn">Submit</button>
    </div>
    </form>
</body>
</html>